# Dependencies
node_modules/
.npm

# Build output
.next/
out/
dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Vercel
.vercel
